<settings>
    <servers>
        <server>
             <id>nexus-releases</id>
             <username>${env.MAVEN_NEXUS_USERNAME}</username>
             <password>${env.MAVEN_NEXUS_PASSWORD}</password>
         </server>
         <server>
             <id>nexus-snapshots</id>
             <username>${env.MAVEN_NEXUS_USERNAME}</username>
             <password>${env.MAVEN_NEXUS_PASSWORD}</password>
         </server>
    </servers>
    <mirrors>
        <mirror>
            <!--This sends everything else to /public -->
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>http://nexus.vpclub.cn/repository/maven-public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <!--repository.url will be used in each project for simplicity-->
            <properties>
                <nexus.releases>http://nexus.vpclub.cn/repository/maven-releases/</nexus.releases>
                <nexus.snapshots>http://nexus.vpclub.cn/repository/maven-snapshots/</nexus.snapshots>
            </properties>
            <!--Enable snapshots for the built in central repo to direct -->
            <!--all requests to nexus via the mirror -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>